[Unit]
Description=boetticher persistent AirVPN kill switch
DefaultDependencies=no
Before=network-pre.target boetticher-airvpn.service shutdown.target
Wants=network-pre.target
Requires=nftables.service
After=nftables.service
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/sbin/sysctl -w net.ipv4.ip_forward=0
ExecStart=/usr/sbin/nft -f /etc/nftables.d/airvpn.nft
ExecReload=/usr/sbin/nft -f /etc/nftables.d/airvpn.nft
ExecStop=/usr/sbin/sysctl -w net.ipv4.ip_forward=0

[Install]
WantedBy=network-pre.target
