[Unit]
Description=Lidarr
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=lidarr
Group=arr
ExecStart=/opt/lidarr/Lidarr -nobrowser -data=/var/lib/arr/lidarr
UMask=0007
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/arr/lidarr /var/lib/arr/downloads

[Install]
WantedBy=multi-user.target
