http:
  address: 127.0.0.1:3000
  session_ttl: 720h
users: []
auth_attempts: 5
block_auth_min: 15
dns:
  bind_hosts:
    - {{ ansible_host }}
  port: 53
  protection_enabled: true
  filtering_enabled: true
  filters_update_interval: 24
  upstream_dns:
    - https://dns.quad9.net/dns-query
    - tls://dns.quad9.net
{% for zone in dns_plan.adguard_forward_zones %}
    - '[/{{ zone }}/]{{ dns_plan.authoritative_forward_target }}'
{% endfor %}
{% for zone in dns_plan.adguard_reverse_zones %}
    - '[/{{ zone }}/]{{ dns_plan.authoritative_forward_target }}'
{% endfor %}
  fallback_dns:
    - 9.9.9.9
    - 1.1.1.1
  ratelimit: 0
  refuse_any: true
  cache_size: 4194304
  cache_ttl_min: 60
  cache_ttl_max: 86400
schema_version: 29
