[Unit]
Description=AdGuard Home client-facing DNS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/AdGuardHome/AdGuardHome -c /opt/AdGuardHome/AdGuardHome.yaml -w /opt/AdGuardHome
Restart=on-failure
User=root
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/AdGuardHome

[Install]
WantedBy=multi-user.target
