LogType=system
PidFile=/run/zabbix/zabbix_server.pid
LogFile=/var/log/zabbix/zabbix_server.log
DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{ zabbix_db_password }}
StartPollers=5
StartPreprocessors=3
StartHTTPPollers=2
StartDiscoverers=1
StartPingers=2
CacheSize=32M
HistoryCacheSize=16M
ValueCacheSize=16M
Timeout=5
ListenIP=10.10.99.20
